
/* font-family: 'Happy Monkey', cursive; */
@import url('https://fonts.googleapis.com/css?family=Happy+Monkey');

/* font-family: 'Rock Salt', cursive; */
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');


/* font-family: 'Dancing Script', cursive; - это вариант!!! */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700');

/* font-family: 'Satisfy', cursive; - тоже вариант! */
@import url('https://fonts.googleapis.com/css?family=Satisfy');

/* font-family: 'Comfortaa', cursive; */
@import url('https://fonts.googleapis.com/css?family=Comfortaa:700');


/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/RobotoLight/RobotoLight.eot");
	src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
	url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
	font-family: "RobotoMedium";
	src: url("../fonts/RobotoMedium/RobotoMedium.eot");
	src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
	url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/RobotoBold/RobotoBold.eot");
	src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
	url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}



/* font-family: "Nexa"; */
@font-face {
    font-family: 'Nexa';
    src: local('Nexa Light'), local('NexaLight'), url('../fonts/Nexa/nexalight.woff2') format('woff2'), 
    						url('../fonts/Nexa/nexalight.woff') format('woff'), 
    						url('../fonts/Nexa/nexalight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
/* font-family: "Nexa";
	font-weight: bold;*/
@font-face {
    font-family: 'Nexa';
    src: local('Nexa Bold'), local('NexaBold'), 
    						url('../fonts/Nexa/nexabold.woff2') format('woff2'), 
    						url('../fonts/Nexa/nexabold.woff') format('woff'), 
    						url('../fonts/Nexa/nexabold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* font-family: 'Open Sans';*/
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'), 
    							url('../fonts/OpenSans/opensanslight.woff2') format('woff2'), 
    							url('../fonts/OpenSans/opensanslight.woff') format('woff'), 
    							url('../fonts/OpenSans/opensanslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
/*font-family: 'AmsdamRegular', sans-serif;*/
@font-face {
    font-family: 'AmsdamRegular';
    src: url('../fonts/AmsdamRegular/AmsdamRegular.eot');
    src: url('../fonts/AmsdamRegular/AmsdamRegular.eot') format('embedded-opentype'),
         url('../fonts/AmsdamRegular/AmsdamRegular.woff2') format('woff2'),
         url('../fonts/AmsdamRegular/AmsdamRegular.woff') format('woff'),
         url('../fonts/AmsdamRegular/AmsdamRegular.ttf') format('truetype'),
         url('../fonts/AmsdamRegular/AmsdamRegular.svg#AmsdamRegular') format('svg');
}

   


/* font-family: 'Beer money'; */
@font-face {
    font-family: 'Beer money';
    src: local('beer money'), local('beermoney'), 
			    url('../fonts/beermoney/beermoney.woff2') format('woff2'), 
			    url('../fonts/beermoney/beermoney.woff') format('woff'), 
			    url('../fonts/beermoney/beermoney.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}



/* font-family: 'Nautilus Pompilius'; */
@font-face {
    font-family: 'Nautilus Pompilius';
    src: local('Nautilus Pompilius'), local('NautilusPompilius'), 
			    url('../fonts/nautilus/nautiluspompilius.woff2') format('woff2'), 
			    url('../fonts/nautilus/nautiluspompilius.woff') format('woff'), 
			    url('../fonts/nautilus/nautiluspompilius.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
